@charset "UTF-8";
/* VARIÁVEIS */
/****** MIXINS DE TELA ******/
/****** ESTRUTURA DO HTML *****/
html, body {
  margin: 0;
  padding: 0;
}

.layout {
  background: #ebebeb;
  display: grid;
  font-family: "Courier New", Courier, monospace;
  grid-template-areas: "titulo" "grid" "autoria";
  grid-template-columns: auto;
  grid-template-rows: 60px auto 40px;
}

.titulo {
  grid-area: titulo;
  background-image: radial-gradient(#ebebeb, #dddddd, #909090, #151515);
  display: flex;
  align-items: center;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

main {
  display: block;
}

.grid {
  grid-area: grid;
  background-image: linear-gradient(#ebebeb, #909090, #444444);
  height: calc(100vh - 100px);
}

.color {
  align-items: top;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  display: grid;
  margin: 10px 0;
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(8, 11.5%);
  grid-template-rows: repeat(6, 15%);
}

.bloco {
  border-bottom: 1px dashed #ebebeb;
  grid-area: 3/1/3/9;
  margin-bottom: -5px;
}

.caixa {
  grid-template-areas: "card_nome" "card_hexa";
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  height: 70px;
  padding: 0 5px;
}

.card_nome {
  display: grid;
  grid-area: card_nome;
  width: 100%;
  font-size: 14px;
  font-weight: bolder;
  padding-top: 1px;
}

.card_hexa {
  grid-area: card_hexa;
  width: 100%;
  font-size: 14px;
  text-decoration-color: #505050;
  font-weight: 500;
}

.clara {
  color: #444444;
  border: 1px solid #909090;
}

.default {
  color: #151515;
  border: 1px solid #dddddd;
}

.escura {
  color: #909090;
  border: 1px solid #dddddd;
}

.autoria {
  grid-area: autoria;
  background: #151515;
  color: #ebebeb;
  font-size: 12px;
  text-align: center;
}

h5 {
  font-family: "Edwardian Script ITC";
  font-size: 18px;
  padding-top: 0.2rem;
}

/****** DEFININDO A PALETA DE CORES *****/
/* LAYOUT em uma linha: 
    grid-area: start-row / start-column / end-row / end-column;
*/
/* Linha 1 */
.branco {
  background: #ebebeb;
  grid-area: 1/1/2/2;
}

.cinza_claro {
  background-color: #dddddd;
  grid-area: 1/2/2/3;
}

.pele_clara {
  background: #d7b2aa;
  grid-area: 1/3/2/4;
}

.marrom_claro {
  background: #bba092;
  grid-area: 1/4/2/5;
}

.laranja_claro {
  background: #f3ab93;
  grid-area: 1/5/2/6;
}

.amarelo_claro {
  background: #ffff9f;
  grid-area: 1/6/2/7;
}

.vermelho_claro {
  background-color: #e18181;
  grid-area: 1/7/2/8;
}

.roxo_claro {
  background: #f9d6ff;
  grid-area: 1/8/2/9;
}

/* Linha 2 */
.branco_preto {
  background: #808080;
  grid-area: 2/1/3/2;
}

.cinza {
  background: #909090;
  grid-area: 2/2/3/3;
}

.pele {
  background: #af6453;
  grid-area: 2/3/3/4;
}

.marrom {
  background: #7f5f4f;
  grid-area: 2/4/3/5;
}

.laranja {
  background: #e96337;
  grid-area: 2/5/3/6;
}

.amarelo {
  background: #ecec00;
  grid-area: 2/6/3/7;
}

.vermelho {
  background: #cc3030;
  grid-area: 2/7/3/8;
}

.roxo {
  background: #eb70ff;
  grid-area: 2/8/3/9;
}

/* Linha 3 */
.preto {
  background: #151515;
  grid-area: 3/1/4/2;
}

.cinza_escuro {
  background: #444444;
  grid-area: 3/2/4/3;
}

.pele_escura {
  background: #593229;
  grid-area: 3/3/4/4;
}

.marrom_escuro {
  background: #403028;
  grid-area: 3/4/4/5;
}

.laranja_escuro {
  background-color: #903010;
  grid-area: 3/5/4/6;
}

.amarelo_escuro {
  background: #6c6c00;
  grid-area: 3/6/4/7;
}

.vermelho_escuro {
  background: #501313;
  grid-area: 3/7/4/8;
}

.roxo_escuro {
  background: #600070;
  grid-area: 3/8/4/9;
}

/* Linha 4 */
.rosa_claro {
  background: #ebc9d7;
  grid-area: 4/1/5/2;
}

.azul_claro {
  background: #82b0d2;
  grid-area: 4/2/5/3;
}

.verde_claro {
  background: #9fc59f;
  grid-area: 4/3/5/4;
}

/* Linha 5 */
.rosa {
  background: #cF7F9F;
  grid-area: 5/1/6/2;
}

.azul {
  background: #3f7faf;
  grid-area: 5/2/6/3;
}

.verde {
  background: #5F9F5F;
  grid-area: 5/3/6/4;
}

/* Linha 6 */
.rosa_escuro {
  background: #5f233b;
  grid-area: 6/1/7/2;
}

.azul_escuro {
  background: #172d3f;
  grid-area: 6/2/7/3;
}

.verde_escuro {
  background: #263f26;
  grid-area: 6/3/7/4;
}

/*# sourceMappingURL=estilo.css.map */
