/* VARIÁVEIS */

/// COLORS LIGHT
$white: lighten(#808080,42);
$light-gray: lighten(#909090,30);
$light-skin-color: lighten(#af6453,25);
$light-brown: lighten(#7f5f4f,25);
$light-orange: lighten(#903010,45);
$light-yellow: #ffff9f;
$light-red: lighten(#cc3030,20);
$light-purple: lighten(#600070,70);
$light-pink: lighten(#cF7F9F,20);
$light-blue: lighten(#3f7faf,20);
$light-green: lighten(#5F9F5F,20);

/// COLORS DEFAULT
$white-dark: #808080;
$gray: #909090;
$skin-color: #af6453;
$brown: #7f5f4f;
$orange: lighten(#903010,25);
$yellow: darken(#ffff9f,35);
$red:#cc3030;
$purple: lighten(#600070,50);
$pink: #cF7F9F;
$blue: #3f7faf;
$green: #5F9F5F;

/// COLORS DARK
$dark: darken(#808080, 42);
$dark-gray: darken(#909090,30);
$dark-skin-color: darken(#af6453,25);
$dark-brown: darken(#7f5f4f,20);
$dark-orange:#903010;
$dark-yellow: darken(#ffff9f,60);
$dark-red: darken(#cc3030,30);
$dark-purple: #600070;
$dark-pink: darken(#cF7F9F,40);
$dark-blue: darken(#3f7faf,30);
$dark-green: darken(#5F9F5F,30);

/****** ESTRUTURA DO HTML *****/
html, body {
    margin: 0;
    padding: 0;
}

.layout {
    background: $white;
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    grid-template-areas: 
        "titulo"
        "grid"
        "autoria";
    grid-template-columns: auto;
    grid-template-rows: 60px auto 40px;
}

.titulo {
    grid-area: titulo;
    background-image: radial-gradient($white, $light-gray,$gray, $dark);
    display: flex;
    align-items: center;
}

h1 {
    margin-left: auto;
    margin-right: auto;
}

main {
    display: block;
}

.grid {
    grid-area: grid;
    background-image: linear-gradient( $white, $gray, $dark-gray);
    height: calc(100vh - 100px);
}

.color {
    align-items: top;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    display: grid;
    margin: 10px 0;
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(8, 11.5%);
    grid-template-rows: repeat(6, 15%);
}

.bloco {
    border-bottom: 1px dashed $white;
    grid-area: 3 / 1 / 3 / 9;
    margin-bottom: -5px;
}

.caixa {
    grid-template-areas: 
    "card_nome"
    "card_hexa";
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    height: 70px;
    padding: 0 5px;    
}

.card_nome {
    display: grid;
    grid-area: card_nome;
    width: 100%;
    font-size: 14px;
    font-weight: bolder;
    padding-top: 1px;
}

.card_hexa {
    grid-area: card_hexa;
    width: 100%;
    font-size: 14px;
    text-decoration-color: #505050;
    font-weight: 500;
}

.clara {
    color: $dark-gray;
    border: 1px solid $gray;
}

.default {
    color: $dark;
    border: 1px solid $light-gray;
}

.escura {
    color: $gray;
    border: 1px solid $light-gray;
}

.autoria {
    grid-area: autoria;
    background: $dark;
    color: $white;
    font-size: 12px;
    text-align: center;
}

h5 {
    font-family: 'Edwardian Script ITC';
    font-size: 18px;
    padding-top: .2rem;
}

/****** DEFININDO A PALETA DE CORES *****/

/* LAYOUT em uma linha: 
    grid-area: start-row / start-column / end-row / end-column;
*/

/* Linha 1 */
.branco {
    background: $white;
    grid-area: 1 / 1 / 2 / 2;
}

.cinza_claro {
    background-color: $light-gray;
    grid-area: 1 / 2 / 2 / 3;
}

.pele_clara {
    background: $light-skin-color;
    grid-area: 1 / 3 / 2 / 4;
}

.marrom_claro {
    background: $light-brown;
    grid-area: 1 / 4 / 2 / 5;
}

.laranja_claro {
    background: $light-orange;
    grid-area: 1 / 5 / 2 / 6;
}

.amarelo_claro {
    background: $light-yellow;
    grid-area: 1 / 6 / 2 / 7;
}

.vermelho_claro {
    background-color: $light-red;
    grid-area: 1 / 7 / 2 / 8;
}

.roxo_claro {
    background: $light-purple;
    grid-area: 1 / 8 / 2 / 9;
}

/* Linha 2 */
.branco_preto {
    background: $white-dark;
    grid-area: 2 / 1 / 3 / 2;
}

.cinza {
    background: $gray;
    grid-area: 2 / 2 / 3 / 3;
}

.pele {
    background: $skin-color;
    grid-area: 2 / 3 / 3 / 4;
}

.marrom {
    background: $brown;
    grid-area: 2 / 4 / 3 / 5;
}

.laranja {
    background: $orange;
    grid-area: 2 / 5 / 3 / 6;
}

.amarelo {
    background: $yellow;
    grid-area: 2 / 6 / 3 / 7;
}

.vermelho {
    background: $red;
    grid-area: 2 / 7 / 3 / 8;
}

.roxo {
    background: $purple;
    grid-area: 2 / 8 / 3 / 9;
}

/* Linha 3 */
.preto {
    background: $dark;
    grid-area: 3 / 1 / 4 / 2;
}

.cinza_escuro {
    background: $dark-gray;
    grid-area: 3 / 2 / 4 / 3;
}

.pele_escura {
    background: $dark-skin-color;
    grid-area: 3 / 3 / 4 / 4;
}

.marrom_escuro {
    background: $dark-brown;
    grid-area: 3 / 4 / 4 / 5;
}

.laranja_escuro {
    background-color: $dark-orange;
    grid-area: 3 / 5 / 4 / 6;
}

.amarelo_escuro {
    background: $dark-yellow;
    grid-area: 3 / 6 / 4 / 7;
}

.vermelho_escuro {
    background: $dark-red;
    grid-area: 3 / 7 / 4 / 8;
}

.roxo_escuro {
    background: $dark-purple;
    grid-area: 3 / 8 / 4 / 9;
}

/* Linha 4 */
.rosa_claro {
    background: $light-pink;
    grid-area: 4 / 1 / 5 / 2;
}

.azul_claro {
    background: $light-blue;
    grid-area: 4 / 2 / 5 / 3;
}

.verde_claro {
    background: $light-green;
    grid-area: 4 / 3 / 5 / 4;
}

/* Linha 5 */
.rosa {
    background: $pink;
    grid-area: 5 / 1 / 6 / 2;
}

.azul {
    background: $blue;
    grid-area: 5 / 2 / 6 / 3;
}

.verde {
    background: $green;
    grid-area: 5 / 3 / 6 / 4;
}

/* Linha 6 */
.rosa_escuro {
    background: $dark-pink;
    grid-area: 6 / 1 / 7 / 2;
}

.azul_escuro {
    background: $dark-blue;
    grid-area: 6 / 2 / 7 / 3;
}

.verde_escuro {
    background: $dark-green;
    grid-area: 6 / 3 / 7 / 4;
} 