/* Paleta de cores */

/***     COLORS DEFAULT  ***/
$light-dark: #a0a0a0;
$gray: #7f7f7f;
$skin-color: #b09080;
$brown: #7f5f4f;
$orange: #c07050;
$yellow: #cfbf4f;
$red: #d03040;
$purple: #bf6fcf;
$pink: #cf7f9f;
$blue: #3f7faf;
$green: #5f9f5f;

/***	COLORS LIGHT	***/
$light: #f9f9f9;
$light-gray: #cfcfcf;
$light-skin-color: #e0c0b0;
$light-brown: #bf8f7f;
$light-orange: #efbf8f;
$light-yellow: #ffff9f;
$light-red: #ff9faf;
$light-purple: #efafff;
$light-pink: #ffafcf;
$light-blue: #afdfff;
$light-green: #afefaf;

/***	COLORS DARK	***/
$dark: #191919;
$dark-gray: #505050;
$dark-skin-color: #604040;
$dark-brown: #403020;
$dark-orange: #903010;
$dark-yellow: #807020;
$dark-red: #501010;
$dark-purple: #600070;
$dark-pink: #904060;
$dark-blue: #003060;
$dark-green: #004000;

/*** CORES COM VARIAÇÃO DE TONALIDADES ***/
/// COLORS LIGHT
$white: lighten(#808080, 42);
$light-gray: lighten(#909090, 30);
$light-skin-color: lighten(#af6453, 25);
$light-brown: lighten(#7f5f4f, 25);
$light-orange: lighten(#903010, 45);
$light-yellow: #ffff9f;
$light-red: lighten(#cc3030, 20);
$light-purple: lighten(#600070, 70);
$light-pink: lighten(#cf7f9f, 20);
$light-blue: lighten(#3f7faf, 20);
$light-green: lighten(#5f9f5f, 20);

/// COLORS DEFAULT
$white-dark: #808080;
$gray: #909090;
$skin-color: #af6453;
$brown: #7f5f4f;
$orange: lighten(#903010, 25);
$yellow: darken(#ffff9f, 35);
$red: #cc3030;
$purple: lighten(#600070, 50);
$pink: #cf7f9f;
$blue: #3f7faf;
$green: #5f9f5f;

/// COLORS DARK
$dark: darken(#808080, 42);
$dark-gray: darken(#909090, 30);
$dark-skin-color: darken(#af6453, 25);
$dark-brown: darken(#7f5f4f, 20);
$dark-orange: #903010;
$dark-yellow: darken(#ffff9f, 60);
$dark-red: darken(#cc3030, 30);
$dark-purple: #600070;
$dark-pink: darken(#cf7f9f, 40);
$dark-blue: darken(#3f7faf, 30);
$dark-green: darken(#5f9f5f, 30);

/***	COPYRIGHT	***/
//      &copy;

/***	FONT-FAMILY	***/
h1 {
    font-family: "Indie Flower", cursive;
}
h2 {
    font-family: "Amiri", serif;
}
h3 {
    font-family: "Allison", cursive;
}
h4 {
    font-family: "Edwardian Script ITC";
}
h5 {
    font-family: "Courier New", Courier, monospace;
}
h6 {
    font-family: "Parisienne", cursive;
}

p {
    font-family: "Courier New", Courier, monospace;
}

/*              MANIPULANDO O SASS              */

/// WIDTH:
$img-width: 45%;

/// PLACEHOLDER SELECTOR:
%no-decoration {
    text-decoration: none;
}
%u-decoration {
    text-decoration: underline;
}

/// Aula 3 - Mixin
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flx($property, $jty-cnt) {
    display: flex;
    #{$property}: $jty-cnt;
}

/// Aula 3 - Media queries and Mixins
@mixin for-phone-only {
    @media (max-width: 767.98px) {
        @content;
    }
}

@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199.98px) {
        @content;
    }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) {
        @content;
    }
}

/// Aula 3 - Function
@function calculateRem($size) {
    @return $size / 16px * 1rem;
}

@mixin fontSize($size) {
    font-size: calculateRem($size);
}

/// Aula 4 - Controle de fluxo e laços de repetição:

// VARIÁVEIS
$directions: top, right, bottom, left;
$layout-margin-size: 10px;

// CONTROLE DE FLUXO
@each $direction in $directions {
    // ZERANDO A MARGIN
    %no-margin-#{$direction} {
        margin-#{$direction}: 0;
    }

    // ATRIBUINDO UMA MARGIN PADRÃO - VARIÁVEL LAYOUT
    %default-margin-#{$direction} {
        margin-#{$direction}: $layout-margin-size;
    }

    // MARGINS CALCULADAS: DOUBLE AND HALF
    %double-margin-#{$direction} {
        margin-#{$direction}: $layout-margin-size * 2;
    }

    %half-margin-#{$direction} {
        margin-#{$direction}: $layout-margin-size / 2;
    }
}
/* 

        1. Instalar RUBY:
        http://rubyinstaller.org/downloads

        *** MARCAR A OPÇÃO ***
        Add Ruby executables to your PATH

        
        2. Instalação do Saas:
        
        Basta rodar o comando abaixo no Terminal
        "npm install -g sass”

        *** RENOMEAR O ARQUIVO PARA A EXTENSÃO SCSS ***

        *** CLONANDO O ARQUIVO SCSS PARA O CSS ***
        sass estilos.scss:estilos.css


        3. Assistindo o Sass
        
        ***   DECLARANDO A PASTA NO CMD   ***
        sass --watch css/style.scss:css/style.css 

        ***   RODANDO O CMD DENTRO DA PASTA   ***
        sass --watch estilo.scss:estilos.css */
